@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome TruckWeb Manager</h1>
    <p>A new truck manager totally web based. I hope you enjoy.</p>
    <p>
        <a href="https://github.com/matheus-vieira/TruckManager">Check the code on github!</a>
    </p>
</div>
