@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Go to <a asp-area="" asp-page="/Trucks/Index">Trucks</a> to manage them.
    </p>
</div>
