@page
@model TruckManager.Ui.Pages.Trucks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Truck.Model" class="control-label"></label>
                <select asp-for="Truck.ModelId" class="form-control"
                        asp-items="@Model.TruckModelsSelectList">
                    <option value="">-- Select a model --</option>
                </select>
                <span asp-validation-for="Truck.ModelId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Truck.Name" class="control-label"></label>
                <input asp-for="Truck.Name" class="form-control" />
                <span asp-validation-for="Truck.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Truck.Year" class="control-label"></label>
                <input asp-for="Truck.Year" class="form-control" type="number" min="@DateTime.Today.Year" max="@(DateTime.Today.Year + 1)" />
                <span asp-validation-for="Truck.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
